#title{
    background-color: #ff4c68;
}

.container-fluid {
   padding: 3% 15% !important;
}

h1{
    font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 15%;
   
}

p{
    color: #8f8f8f;
    padding-left:5%
}

i{
    position: relative;
    padding-left: 25%;
}